@model Rabi_Shah_Dot_Net_project.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecifiedWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecifiedWork)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VolunteerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
